
body{
    display: flex;
    justify-content: center;
}
h1{
    font-weight: 800;
    text-decoration: underline; 
 
}

.card-1{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg,#d41e31,#491f8f);
    box-shadow: 3px 3px 8px,-1px -2px 3px;
}
.card-1 img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    transition: .6s;
}
.card-1:hover img{
    left: 70%;
    height: 400px;
}
.card-1 .cont{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: .8s ease-in-out;
}
.card-1:hover .cont{
    opacity: 1;
    visibility: visible;
    left: 0%;
}
 h2, p{
    color: #fff;
}
a{
    position: relative;
    display: inline-block;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    background: #ffffff;
    text-decoration: none;
}
.c-1{
    
        background: linear-gradient(135deg, #aa0011,#3f0301);
}
.c-2{
    
    background: linear-gradient(135deg, #4107e2f6,#990500);
}
.c-3{
    
    background: linear-gradient(135deg, #740913,#000000);
}
.c-4{
    
    background: linear-gradient(135deg, #20090b,#000000);
}
.c-5{
    
    background: linear-gradient(135deg, #ce1124,#0f015c);
}
.c-6{
    
    background: linear-gradient(135deg, #c92939,#312e2e);
}
.c-7{
    
    background: linear-gradient(135deg, #090538,#2d0547);
}
.c-8{
    
    background: linear-gradient(135deg, #470b0b,#07011f);
}
.c-9{
    
    background: linear-gradient(135deg, #9b0716,#504c4b);
}
.c-10{
    
    background: linear-gradient(135deg, #000000,#302e2e);
}